.App {
  text-align: center;
  background-color: #121212;
  width: 100v;
  height: 100vh;
  color: white;
}
body {
  padding: 0%;
  margin: 0px;
}

nav {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}
nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 35px;
}
.board {
  margin-top: 40px;
  display: block;
  justify-content: center;
  padding: 2px;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.letter {
  size: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-items: center;
}
.keyboard {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.keyRowContainer {
  padding: 5px;
  display: inline-block;
}
.line1 {
  display: flex;
  justify-content: center;
}

.line2 {
  display: flex;
  justify-content: center;
}
.line3 {
  display: flex;
  justify-content: center;
}
.key {
  font-size: 20px;
  font-weight: 300;
  margin: 2px;
  height: 40px;
  width: 40px;
  color: black;
  background-color: grey;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  display: grid;
  place-items: center;
}
#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}
#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}
@media only screen and (max-width: 480px) {
  .keyboard {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .key {
    font-size: 4vw;
    font-weight: 300;
    margin: 1vw;
    height: 12vw;
    width: 7vw;
    color: black;
    background-color: grey;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: grid;
    place-items: center;
  }

  #big {
    width: 15vw;
  }

  nav {
    width: 100%;
    margin: 0;
    padding: 2vw;
    border-bottom: 1px solid grey;
    display: grid;
    place-items: center;
  }

  nav h1 {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    font-size: 5vw;
  }

  .board {
    margin-top: 15vw;
    display: block;
    justify-content: center;
    padding: 1vw;
    align-items: center;
  }

  .letter {
    border: 1px solid grey;
    border-radius: 5px;
    width: 12vw;
    height: 12vw;
    font-size: 3vw;
    font-weight: bolder;
    margin-left: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
  }
}
